@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body{
  font-family: 'Alegreya', serif;
h4, .text-delta{
font-size: 16px !important;
font-weight: 600;
text-transform: uppercase;
}

.nav-list .nav-list-item .nav-list-link {
font-size: 1rem;
}
